.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }

.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }

.footer {
    background : #000000;
    color : #FCFCFC;
    position: absolute;
    width: 100%;
    bottom: -100;
}

.textPanel {
    background: #131519;
    color: #FCFCFC;
    opacity: 1.0;
}

.contactWithImage {
    color : #000000;
    width: 100%;
    background-image: url("../img/dobson-bw.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

a.facebook {
    display: inline-block;
    background-image: url(../img/Facebook-light.png);
    background-size: 100%;
    width: 24px;
    height: 24px;
}

a.facebook:hover {
    background-image: url(../img/Facebook-color.png);
    -webkit-filter: hue-rotate(170deg);
    -moz-filter: hue-rotate(170deg);
    filter: hue-rotate(170deg);
    
}

a.instagram {
    display: inline-block;
    background-image: url(../img/Instagram-light.png);
    background-size: 100%;
    width: 24px;
    height: 24px;
}

a.instagram:hover {
    background-image: url(../img/Instagram-color.png);
    -webkit-filter: hue-rotate(170deg);
    -moz-filter: hue-rotate(170deg);
    filter: hue-rotate(170deg);
}

,grayscale {
    vertical-align: central;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}